
*{
margin:0;
padding:0;
}body{
	background-color:#800040;
	color:white;
}
header{
	background-color: #5c5cd6;
	
}
.navbar-brand a{
	color:white;
	font-size: 150%;
	margin-left:-7%;
}
.navbar-toggler{
border:1px solid black;
background-color:#e0e0d1;
opacity: 0.8;
}
.iconbar{
	border:1px solid black;
}
.fa-bars{
	font-size:25px;
	color:black;
}
.one{ 
margin:0;
padding: 0; }
#navbar-collapsable{
	width:100%;
	margin:0;
	padding:0;
	background-color:#e6e600;
	max-height: none;
	text-align: center;
}
#nav-item{
border:1px solid black;	
}
#nav-item:hover{
background-color: black;
opacity: 0.5;
}
#nav-item a:hover{
	color:white;
	
}
.page-header h1{
text-align:center;
margin-top:2%;
}
#nav-item a{
	color:black;
	text-transform: uppercase;
	font-weight: bold;
}

.main-content{
	margin:0;
	padding-top: 0;
	width:100%;
}

#menu-items{

	height:700px;
margin-left:1%;
	margin-top:4%;
	margin-right:2%;
	border:1px solid black;
	background:white;
	color:black;
}
div>h2{
	text-align:center;
	margin-top: 1%;
}
#para{
	text-align: left;
	padding-left:4%;
	padding:right:3%;
	padding-top:3%;
}
@media (max-width:576px){
#menu-items{
width:400px;
	height:700px;

	margin-top:4%;
	margin-left:5%;
	margin-right:4%;
	border:1px solid black;
	background:white;
	color:black;
}
}